.tokaya-node-container {
    display: flex;
    width: 1050px;
    margin: 65px auto;
}
.tokaya-node-content {
    width: 770px;
    margin: 0 auto;
    flex-grow: 1.5;
}
.tokaya-node-topic {
    background-color: white;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
}
.tokaya-node-topic a {
    color: black;
    padding: 0;
}
.tokaya-node-topic-content {
    padding: 10px;
    border-bottom: 1px solid #e1e8ed;
}
.tokaya-node-topic-content img {
    max-width: 48px;
    max-height: 48px;
    float: right;
    margin-top: 15px;
}
a.tokaya-node-content-link {
    font-size: 14px;
    color: #778087;
}
a.tokaya-node-content-link:hover {
    color: black;
    text-decoration: underline;
}
h1.tokaya-node-topic-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
    margin: 10px 0px;
    padding: 0px;
}
.tokaya-node-topic-article {
    padding: 10px;
    border-bottom: 1px solid #e1e8ed;
}
.tokaya-node-topic-bottom {
    background:linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}
.tokaya-node-topic-bottom a {
    padding: 3px;
    font-size: 11px;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    margin: 3px;
}
.tokaya-node-topic-bottom a:hover {
    background-color: #f2f2f2;
    border-radius: 20px;
}
.tokaya-node-topic-comment {
    margin: 20px 0;

}
.tokaya-node-topic-comment-top {
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid #e1e8ed;
}
textarea.tokaya-comment-input {
    width: 700px;
    height: 112px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
button.tokaya-comment-button {
    cursor: pointer;
    background-color: #fff;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
    outline: none;
    border-radius: 3px;
    padding: 4px 8px 4px 8px;
    border: 1px solid rgba(80,80,90, 0.2);
}
.tokaya-node-topic-comment-cell {
    display: flex;
}
.tokaya-node-topic-comment-cell img {
    max-width: 48px;
    max-height: 48px;
}
.tokaya-node-topic-comment-cell a {
    color: gray;
    font-weight: bold;
}
.tokaya-node-topic-comment-cell a:hover {
    color: #00538E;
}
.tokaya-node-topic-comment-cell span {
    color: #e1e8ed;
}
.tokaya-node-topic-comment-cell p {
    font-size: 16px;
    margin: 5px 0 0 0;
}
.tokaya-comment-detail {
    padding: 5px 0 0 10px;
}
.tokaya-node-sidebar {
    width: 300px;
    flex-grow: 1;
    margin-left: 20px;
}
.tokaya-node-sidebar-topbox {
    border: 1px solid #e1e8ed;
    background-color: white;
    border-radius: 3px;
}
.tokaya-node-sidebar-profile {
    padding: 10px;
    display: flex;
}
.tokaya-node-sidebar-profile img {
    max-width: 48px;
    max-height: 48px;
}
.tokaya-node-sidebar-topbox a {
    color: #778087;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 0 0 10px;
}
.tokaya-node-sidebar-topbox a:hover {
    color: black;
    text-decoration: underline;
}
.tokaya-node-sidebar-post {
    border-top: 1px solid #e1e8ed;
    padding: 0 0 10px 6px;
}
.tokaya-node-sidebar-ad {
    border: 1px solid #e1e8ed;
    background-color: white;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
}
