{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/blog_add.css">
{% endblock %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="tokaya-blog">
    <form action="{{ url_for('.add') }}" method="post">
        <input type="text" name="title" placeholder="文章名字">
        <button>发表</button>
        <a href="{{ url_for('.index') }}">取消编辑</a>
        <div class="tokaya-blog-edit">
            <textarea name="content" placeholder="博文内容"></textarea>
        </div>
    </form>
</div>

{% endblock %}
